/***** TAGS ****/

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	font-family: "Raleway", sans-serif;
	background-color: white;
}

h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
	margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
	font-weight: 600;
}

h3 {
	font-size: 24px;
	font-weight: 600;
}

h4 { 
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin-block-start: 0px;
    margin-block-end: 10px;
}

html {
	scroll-behavior: smooth;
	color: #323232;
	background-color: white;
}


p {
	font-size: 20px;
	text-align: left;
	line-height: 1.8em;
	margin-bottom: 0;
	z-index: 1;
	color: #323232
}

label {
	margin-bottom: 20px;
}

li {
	font-size: 20px;
	line-height: 36px;
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
}
  
/****** NAVBAR *****/
  
#logo{
	width: 45px;
	height: 45px;
	margin-left: 5px;
	transition: .3s ease;
}

a.nav-link {
	color: white !important;
	transition: .3s ease;
	text-align: center;
	text-transform: uppercase;
}

a.nav-link.active {
	text-decoration: underline #6cb019;
}

.header {
	background-color: #222;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
	height: 64px;
}

.header li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 300;
}

.header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding-left: 20px;
	padding-top: 8px;
	text-decoration: none;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}


.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}
  
.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}

.menu-icon {
	margin-bottom: 0;
}

#pdf {
	width: 16px;
}
  
.header .menu-icon .navicon {
	background: white;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 50px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: white;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}
  
.header .menu-icon .navicon:before {
	top: 10px;
}
  
.header .menu-icon .navicon:after {
	top: -10px;
}
  
/* menu btn */
  
.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	min-height: 100vh !important;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

/**** PROGRESS BAR ******/

.progress-bar {
	height: 4px;
	background: linear-gradient(270deg, #6cb019, #3E4E2A);
	background-size: 400% 400%;
	width: 0%;
	-webkit-animation: barGradient 4s ease infinite !important;
	-moz-animation: barGradient 4s ease infinite !important;
	animation: barGradient 4s ease infinite !important;
}

.progress-container {
	width: 100%;
	height: 4px;
	background-color: #222;
	position: fixed;
	top: 61px;
	left: 0px;
	border-style: none;
}

/****** HERO SECTION ******/

.mikumobtnproto {
	margin: auto;
	animation: blurFadeInUnicorn 3s ease-in 20s backwards;
	animation-delay: 1s;
	position: relative;
	top: 70vh;
	padding: 10px 40px;
	color: white !important;
	background-color: #6cb019;
	text-align: center !important;
	border-radius: 7px;
	text-transform: uppercase;
	border-style: none;
	font-size: 20px;
	cursor: pointer;
}

.mikumohero {
	width: 100%;
	height: 100vh;
	position: absolute;
	background: url(../parallaxBG/mikumohero.png) no-repeat 50% 50%;
	background-size: cover;
}

.mikumoherologo {
	animation: blurFadeInUnicorn 3s ease-in 20s backwards;
	position: absolute;
	left: 30%;
	width: 40%;
	top: 36.5vh;
	animation-delay: 0s;
}

.mikumosub {
	animation: blurFadeInUnicorn 3s ease-in 20s backwards;
	position: absolute;
	top: 50vh;
	animation-delay: .5s;
	font-size: 30px;
	padding: 5%;
	font-weight: 300;
	text-transform: none;
	color: white;
	width: 80%;
	margin: auto !important;
	line-height: 50px;
}

.whitespace {
	width: 100%;
	height: 100vh;
	z-index: -10;
}

/***** ESSENTIAL ******/

a.magnific:focus {
	outline: none;
}

.bottoms {
	margin-bottom: 80px;
}

.centers {
	text-align: center;
}

.container {
	width: 90%;
	margin: auto;
}

.ctobtn {
	margin: auto;
	width: 50%;
	height: 40px;
	border: solid #323232 1px;
	color: #323232;
	border-radius: 4px;
	text-transform: uppercase;
	transition: all 1s ease;
}

.flex {
	display: flex;
   flex-wrap: wrap;
}

.italic {
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	line-height: 1.8em;
}

.left {
	text-align: left;
}

.lightgraybg {
	background-color: #f8f8f8;
	width: 100%;
}

.ov-li, .thirds, .screen-half {
	width: 100%;
}

.pad-b {
	padding-bottom: 80px;
}

.pad-b-half {
	padding-bottom: 40px;
}

.phaseline {
	margin: auto;
	margin-top: 10px;
	width: 40%;
	height: 2px;
	background: #505050;
}

.separator {
	margin: auto;
	width: 100%;
	height: 1px;
	background: #505050;
}

.subh {
	width: 70%;
	margin: auto 15%;
}

.zoompic {
	transition: transform .3s;
}

.wide {
	width: 100%;
	float: left;
}

.priority {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;

}
/****** OVERVIEW SECTION ******/

h3.ovdesc{
	text-align: left;
}

.lihead {
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.mikumodevice {
	width: 95%;
}

.outdesc {
	margin-top: 80px;
}

.plat {
	text-align: center;
	margin: auto 15% 80px 15%;
	width: 70%;
}

.dashboards {
	box-shadow: #555 2px 2px 20px;
	text-align: center;
	margin: 40px 15%;
	width: 70%;
}

.swot {
	margin-bottom: 80px;
}

/****** FOOTER SECTION *****/

#footlight {
	width: 100%;
	height: 100%;
	border-top: solid #6cb019 1px;
	background-color: #222 !important;
	color: white !important;
}

.coded {
	font-size: 13px;
	text-align: right !important;
	padding-right: 20px;
	font-weight: 300;
	color: white;
}

.design {
	display: inline-block;
	text-align: right !important;
	float: right;
	background-color: #222;
}

.double {
	float: left;
}

.hfooter {
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	color: white;
	margin-bottom: 16px;
}

.meeds {
	transition: all 2s ease;
	line-height: 1.1em;
}

.overviewlist {
	text-align: center;
	margin: 100px auto auto auto !important;
}

.pfooter {
	font-size: 13px;
	text-align: left;
	color: white !important;
	display: inline-block;
	padding: 0 20px;
	font-weight: 300;
}

.phase {
	margin: 100px auto auto auto !important; 
}

.socicon {
	margin-bottom: 20px;
	display: inline-block;
}

.submit {
	text-align: center;
	margin-top: 50px;
}

.subphase {
	text-align: center;
	margin: 100px auto !important;
}

/***** HOVERS *******/

a:hover,
#logo:hover {
	transition: transform .5s;
	text-decoration: none;
}

#logo:hover,
.flag:hover, .techicon:hover {
	transform: scale(1.2);
}

a.nav-link:hover {
	color: #6CB019 !important;
}

.ctobtn:hover {
	color: #fff !important;
	background: #323232;
	border-color: white;
	transform: scale(1.1);
}

.meeds:hover {
	transform: scale(1.1);
	color: #6cb019 !important;
	text-decoration: underline #6cb019;
}

.mikumobtn:hover {
	color: #fff !important;
	background: #6CB019;
	border-color: white;
	cursor: pointer;
}

.pfooter:hover {
	text-decoration: underline #6CB019;
}

.u-flows:hover {
	transform: scale(1.05);
}

.zoompic:hover {
	transform: scale(1.02);
}

/******* MEDIA QUERY *******/

@media only screen and (min-width: 991px) {

	.container { 
		width: 80%; 
		margin: auto;
	}

	.cont-over {
		width: 90%;
	}

	.header li {
		float: left;
	}

	.header li a {
		padding: 13px 30px;
	}

	.header .menu {
	  	clear: none;
	  	float: right;
	  	max-height: none;
	  	margin-right: 50px;
	}

	.header .menu-icon {
	  	display: none;  
	}

	.header ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}

	.ov-li {
		width: 25%;
	}

	.pad-r {
		padding-right: 40px;
	}

	.pad-rlg {
		padding-right: 80px;
	}
	
	.pad-l {
		padding-left: 40px;
	}

	.screen-half { 
		width: 50%; 
	}

	.thirds { 
		width: 33.333%; 
	}
}

@media (max-width: 767px) {

	.ctobtn {
		margin-bottom: 100px;
	}

	.header ul {
		margin-top: 76px;
		padding: 0;
		list-style: none;
		overflow: hidden;
		background-color: rgba(25, 25, 25, .9);
		text-align: center;
	}

	.phaseline {
		width: 90%;
	}

	.subh {
		width: 100%;
		margin: auto;
	}
}

@media only screen and (max-width: 600px){
	.mikumoherologo {
		top: 200px;
	}

	.mikumosub {
		top: 270px;
	}
	
	.mikumobtnproto {
	}
}

@media (max-width: 989px){

	.coded {
		text-align: left !important;
		padding-left: 20px;
		margin-bottom: 10px;
	}

	.header li a {
		padding: 20px;
		font-size: 30px;
	}
	
	.prefBar {
		width: 100%;
	}

	.mikumoherologo {
		width: 60%;
		left: 20%;
	}

	.plat {
		text-align: center;
		margin-top: auto;
	}

	.mikumosub {
		font-size: 25px !important;
	}

	.header .menu-btn:checked ~ .menu {
		justify-content: center;
		background-color: rgba(34,34,34, .9);
	}
	
}

@media(min-width: 990px){

	.story {
		padding-inline-start: 200px;
	}

	.story2 {
		padding-inline-start: 50px;
	}

	.prefBar {
		width: 80%;
	}
}

/******* KEYFRAMES ********/

@-webkit-keyframes barGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes barGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes barGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes blurFadeInUnicorn {
	0% { opacity: 0; }
	50%, 100% { opacity: 100; }
}

@keyframes shine {
	to { background-position: 200% center; }
}

/*  MIKUMO CASE STUDY  */

.avatarpersona {
	width: 30%;
}

.boldy {
	font-weight: 600;
}

.brandsketch {
	width: 90%;
}

.brandspec {
	width: 60%;
	margin-left: 30px;
}

.brandcolor {
	width: 50%;
}

.caseh3 {
	text-align: center;
	margin-top: 100px;
	font-weight: 300;
	width: 40%;
	padding-top: 100px;
    padding-bottom: 10px;
	border-bottom: 2px solid #323232;
	margin:auto;
}

.caseh4 {
	text-align: center;
	margin-bottom: 20px;
}

.caseh5 {
	margin-top: 20px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centers {
	text-align: center;
}

.chart{
	width: 80%;
}

.comp {
	text-align: left;
}

.compLogo {
	width: 10%;
	margin-bottom: 20px;
}

.h3alt{
	margin-bottom: 20px;
	font-size: 20px;
}

.flowspec {
	width: 80%;
}

.goals {
	height: 260px;
}

.listleft {
	text-align: left;
}

.marginbottom40 {
	margin-bottom: 40px;
}

.mikumobtn {
	margin: auto; 
	padding: 5px 60px;
	font-size: 16px;
	height: 35px;
	color: #505050 !important;
	background-color: white;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 300;
	border: #323232 1px solid;
	transition: .3s ease;
}

.parspace {
	margin-bottom: 10px;
}

.persCompP {
	font-size: 16px;
	margin-bottom: 20px;
	text-align: left;
	line-height: 1.8em;
}

p.persCompP {
	text-align: center;
}

.personaInfo {
	margin-top: 40px;
	text-transform: none;
}

.preft {
	width: 90%;
}

.quote {
	font-size: 16px;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	height: 80px;
}

.surveys {
	padding-bottom: 60px;
}

.surveysec {
	width: 50%;
}

.surveylast {
	margin-bottom: 80px;
}

.status {
	height: 80px;
}

.testlist {
	margin: auto 5%;
}

.threeCol {
	padding-left: 35px;
	padding-right: 35px;
}

.topic {
	margin-bottom: 20px;
}

.u-flows {
	width: 70%;
	box-shadow: 5px 5px 15px #909090;
	transition: transform .3s;
	margin-top: 20px;
}

.wiresketch {
	width: 100%;
}