/********************************************************************* TAGS *************************************************************************/

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	font-family: "Raleway", sans-serif;
	background-color: white;
}

h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
	margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
	font-weight: 300;
}

h3 {
	font-size: 30px;
	font-weight: 600;
}

h4 { 
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin-block-start: 30px;
    margin-block-end: 10px;
}

html {
	scroll-behavior: smooth;
	color: #323232;
	background-color: white;
}

label {
	margin-bottom: 20px;
}

li {
	font-size: 20px;
	line-height: 36px;
}

p {
	font-size: 20px;
	text-align: left;
	line-height: 1.8em;
	margin-bottom: 0;
	z-index: 1;
	color: #323232
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
}

/************************************************************************ NAVBAR *******************************************************************************/

#logo{
	width: 49px;
	height: 49px;
	margin-left: 5px;
	margin-top: 3px;
	transition: all 1s ease;
}

a.nav-link {
	color: #323232 !important;
 	transition: all 1s ease;
}

a.nav-link.active {
	text-decoration: underline orange!important;
}

.header {
	background-color: rgba(255,255,255, .5);
	position: fixed;
	width: 100%;
	z-index: 3;
	height: 76px;
	backdrop-filter: blur(10px);
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
  
.header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	color: #323232;
	font-size: 20px;
}
  
.header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
}
  
.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}
  
.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}
  
.header .menu-icon .navicon {
	background: #323232;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 30px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: #323232;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}
  
.header .menu-icon .navicon:before {
	top: 10px;
}
  
.header .menu-icon .navicon:after {
	top: -10px;
}
  
/* menu btn */
  
.header .menu-btn {
	display: none;
}
  
.header .menu-btn:checked ~ .menu {
	max-height: 840px;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}
  
/******************************************************************** PROGRESS BAR ******************************************************************************/

.progress-bar {
	height: 8px;
	background: #323232;
	background-size: 400% 400%;
	width: 0%;
	-webkit-animation: barGradient 4s ease infinite !important;
	-moz-animation: barGradient 4s ease infinite !important;
	animation: barGradient 4s ease infinite !important;
}

.progress-container {
	width: 100%;
	height: 8px;
	position: fixed;
	top: 76px;
	left: 0px;
	border-style: none;
}

/********************************************************************** HERO SECTION ***************************************************************************/
.boldy {
	font-weight: 600 !important;
	color: #ff7400;
	text-transform: uppercase;
}

.biglogo {
	background: url(img/biglogo.png) no-repeat 50% 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 130%;
	z-index: 2;
}


#lighthero {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(parallaxBG/japandark.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.h1-secondline {
	font-size: 100px;
	font-weight: 600;
	-webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .7s both;
	        animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .7s both;
}

.heroline {
	width: 950px;
	height: 6px;
	top: 47%;
	background: linear-gradient(270deg, #ff7400, #d61c0e);
	background-size: 400% 400%;
	-webkit-animation: barGradient 4s ease infinite !important;
	-moz-animation: barGradient 4s ease infinite !important;
	animation: barGradient 4s ease infinite !important;
	position: relative;
}

.name, .uxdesign{
	position: absolute;
	text-align: left;
}

.name {
	top: 20%;
	padding-left: 5%;
	text-transform: uppercase;
	font-weight: 300;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.uxdesign {
	top: 50%;
	padding-left: 5%;
	animation-delay: 2s;
	font-size: 24px;
	width: 700px;
	font-weight: normal;
	text-transform: none;
	color: #777;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.2s both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.2s both;
}

.chevron {
	width: 4%;
	top: 720px;
	position: absolute;
	margin: auto 47%;
	z-index: 2;
	cursor: pointer;
	transition: all 250ms ease;
	-webkit-animation: swirl-in-fwd 1s ease-out 2s both;
	animation: swirl-in-fwd 1s ease-out 2s both;
}


.parallax {
	min-height: 750px;
	background: transparent;
}

.whitespace {
	width: 100%;
	height: 100vh;
}

/********************************************************************** ESSENTIAL ******************************************************************************/

a.magnific:focus {
	outline: none;
}

.bottoms {
	margin-bottom: 80px;
}

.centers {
	text-align: center;
}

.container {
	width: 90%;
	margin: auto;
}

.ctobtn {
	margin: auto;
	height: 40px;
	border: solid #323232 1px;
	color: #323232;
	border-radius: 4px;
	text-transform: uppercase;
	transition: all 1s ease;
	cursor: pointer;
	padding-left: 60px;
	padding-right: 60px;
}

.flex {
	display: flex;
   flex-wrap: wrap;
}


.italic {
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	line-height: 1.8em;
}

.linear-wipe {
	background: linear-gradient(to right, #252525 20%, #d61c0e 30%, #252525 50%, #252525 80%);
	background-size: 200% auto;
	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 5s linear infinite;
}

.phaseline {
	margin: auto;
	margin-top: 10px;
	width: 40%;
	height: 2px;
	background: #505050;
}

.separator {
	margin: auto;
	width: 100%;
	height: 1px;
	background: #505050;
}

.thirds, .skill-li, .screen-half {
	width: 100%;
}

.wide {
	width: 100%;
	float: left;
}

.zoompic {
	transition: transform 1s;
}

/*************************************************************** PROJECT SECTION *****************************************************************************/

.busybuscase {
	width: 50%;
	float: right;
}

.casehead {
	text-align: left;
	margin-bottom: 20px;
	text-transform: none;
	font-weight: 700;
	font-size: 40px;
}

.caseimg {
	width: 90%;
	box-shadow: #323232 10px 10px 20px;
}

.greenbox {
	height: 100%;
	width: 40%;
	background: green;
	float: left;
}

.mikumocase {
	width: 100%;
	float: left:
}

.casep {
	margin-bottom: 40px;
	text-align: left;
}

.mini-separator {
	margin: auto;
	width: 60%;
	height: 1px;
	background: #505050;
}

/****************************************************************** ABOUT SECTION ****************************************************************************/

.biobox {
	width: 80%;
	margin: auto;
}

.bio-p {
	margin-bottom: 50px;
}

.bioline {
	margin: 10px auto 30px 0;
	width: 100%;
	height: 1px;
	background: #505050;
}

.bio-subh {
	text-align: left;
}

/******************************************************************* RESUME SECTION *****************************************************************************/

.italicdate {
	text-transform: none;
	font-weight: 300;
	font-size: 16px;
}

.res {
	margin-bottom: 0;
}

.resumelist {
	width: 90%;
	margin-bottom: 30px;
}

.resdesc {
	margin-top: 10px;
	margin-bottom: 50px;
	line-height: 30px;
}

.reshead {
	margin-bottom: 0px;
	text-align: left;
}

.resline {
	margin-left: 0;
	margin-bottom: 30px;
	width: 70%;
	height: 1px;
	background: #505050;
}

.reslineskill {
	margin: auto auto 0;
	width: 100%;
	height: 1px;
	background: #505050;
}

.ressec {
	width: 100%;
}

/******************************************************************* CONTACT SECTION ***************************************************************************/

.form-control {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: none;
	height: 40px;
	padding-left: 10px;
	border-style: solid;
	border: solid 1px #aaaaaa;
}

.form-group {
	width: 80%;
	margin: auto;
}

.form-message {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: none;
	height: 200px;
	padding-left: 10px;
	padding-top: 10px;
	border-style: solid;
	border: solid 1px #aaaaaa;
}

/******************************************************************* FOOTER SECTION ****************************************************************************/

#footlight {
	width: 100%;
	height: 100%;
	border-top: solid #323232 4px;
	background-color: white;
	color: #323232 !important;
}

.hfooter {
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	color: #323232;
	margin-bottom: 16px;
}

.meeds {
	transition: all 2s ease;
	line-height: 1.1em;
}

.pfooter {
	font-size: 16px;
	text-align: left;
	color: #323232 !important;
}

.phase {
	margin: 100px auto auto auto !important; 
}

.socicon {
	margin-bottom: 20px;
	padding: 50px;
}

.submit {
	text-align: center;
	margin-top: 50px;
}

.subphase {
	text-align: center;
	margin: 100px auto !important;
}

/*********************************************************************** HOVERS ********************************************************************************/

a:hover,
#logo:hover {
	transition: transform .5s;
	text-decoration: none;
}

a.nav-link:hover, #logo:hover,
.flag:hover, .techicon:hover {
	transform: scale(1.2);
}

.ctobtn:hover {
	color: #fff !important;
	background: #323232;
	transform: scale(1.1);
	border-color: white;
}

.meeds:hover {
	transform: scale(1.1);
	color: #ff7400 !important;
	text-decoration: underline #ff7400;
}

.zoompic:hover {
	transform: scale(1.05);
}

.chevron:hover {
	transform: scale(1.1);
}

/******************************************************************** MEDIA QUERY ******************************************************************************/

@media only screen and (min-width: 990px) {

	.contact-form {
		color: #323232;
		padding: 0 10%;
		width: 100%;
		margin-bottom: 100px;
		text-align: left;
	}

	.container { 
		width: 70%; 
		margin: auto;
	}

	.header li {
		float: left;
	}

	.header li a {
		padding: 20px 40px;
	}

	.header .menu {
	  	clear: none;
	  	float: right;
	  	max-height: none;
	  	margin-right: 50px;
	}

	.header .menu-icon {
	  	display: none;  
	}

	.header ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}

	.midori {
		padding-left: 10%;
		padding-top: 5%;
		text-align: left;
	}

	.lefty {
		text-align: left !important;
	}

	.skill-li { 
		width: 25%; 
	}
	
	.screen-half { 
		width: 50%; 
		float: left;
	}

	.thirds {
		width: 33.333%;
	}
}

@media (max-width: 989px) {

	.biobox {
		width: 100%;
		margin: auto;
	}

	.caseimg {
		width: 100%;
		margin-bottom: 50px;
	}

	.ctobtn {
		margin-bottom: 100px;
	}

	.form-group {
		width: 90% !important;
	}

	.h1-secondline {
		font-size: 50px;
	}

	.header ul {
		margin-top: 76px;
		padding: 0;
		list-style: none;
		overflow: hidden;
		background-color: white;
		text-align: center;
	}

	.heroline {
		width: 490px;
		top: 45%;
	}

	.midori {
		margin-top: 60px;
	}

	.mini-separator {
		width: 80%;
	}

	.phaseline {
		width: 90%;
	}

	.name {
		top: 30%;
		font-size: 40px;
		animation-delay: 1s;
		text-transform: uppercase;
	}

	.skill-li { 
		width: 50%; 
	}
	
	.uxdesign {
		top: 50%;
		animation-delay: 2s;
		font-size: 30px;
		width: 490px;
	}
}

@media (max-width: 500px) {

	.h1-secondline {
		font-size: 36px;
	}

	.heroline {
		top: 42%;
	}

	.name, .h1-secondline, .uxdesign, .heroline {
		width: 90%;
	}
	
	.name {
		font-size: 30px;
	}

	.uxdesign {
		font-size: 21.5px;
		top: 45%;
	}

	.chevron {
		top: 500px;
	}
}

/********************************************************************** KEYFRAMES ******************************************************************************/

@-webkit-keyframes barGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes barGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes barGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes blurFadeInUnicorn {
	0% { opacity: 0; }
	50%, 100% { opacity: 100; }
}

@keyframes shine {
	to { background-position: 200% center;}
}

  @-webkit-keyframes swirl-in-fwd {
	0% {
	  -webkit-transform: rotate(-540deg) scale(0);
			  transform: rotate(-540deg) scale(0);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotate(0) scale(1);
			  transform: rotate(0) scale(1);
	  opacity: 1;
	}
  }
  @keyframes swirl-in-fwd {
	0% {
	  -webkit-transform: rotate(-540deg) scale(0);
			  transform: rotate(-540deg) scale(0);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotate(0) scale(1);
			  transform: rotate(0) scale(1);
	  opacity: 1;
	}
  }

  @-webkit-keyframes focus-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  @keyframes focus-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  

@-webkit-keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
}
@keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
}




.fadein {
    opacity:0;
}