/* tags */
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Raleway", sans-serif;
}

h1, h2, h3 {
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
	font-weight: 300;
}

h3 {
	font-size: 30px;
	font-weight: 600;
}

h4 { 
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

p {
	font-size: 20px;
	text-align: left;
	line-height: 1.8em;
	margin-bottom: 0;
	z-index: 1;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding-inline-start: 0;
}

li {
	font-size: 18px;
}

/****************************************************** START ***********************************************************/

.phaseline {
	margin: auto;
	width: 40%;
	height: 2px;
	background: #505050;
}

.subphase {
	text-align: center;
	margin: 100px auto auto auto;
}

.midmarg {
	margin-top: 40px;
	width: 80%;
}

.caseimg {
	width: 90%;
	box-shadow: #323232 10px 10px 20px;
}

.caseh3 {
	margin-top: 100px;
	text-align: center;
}

.bottoms {
	margin-bottom: 80px;
}

.casehead {
	text-align: left;
	margin-bottom: 20px;
}

.mini-separator {
	margin: auto;
	width: 60%;
	height: 1px;
	background: #505050;
}

.separator {
	margin: auto;
	width: 70%;
	height: 1px;
	background: #505050;
}

.biobox {
	width: 80%;
	margin: auto;
}

.bio-subh {
	/* margin-bottom: 24px; */
	text-align: left;
}

.bio-p {
	margin-bottom: 60px;
}

.italicdate {
	text-transform: none;
	font-weight: 300;
	font-size: 16px;
}

.centers {
	text-align: center;
}

/* HOVERS */

a:hover,
#logo:hover {
	transition: transform .5s;
	text-decoration: none;
}

.btn:hover {
	color: #fff;
	background: #323232;
	transform: scale(1.02);
}

a.nav-link:hover, #logo:hover,
.flag:hover, .techicon:hover {
	transform: scale(1.2);
}

a.nav-link:hover { 
	color: #323232 !important; 
	/* font-weight: 600; */
}

a.magnific:focus {
	outline: none;
}

/* USED IN MOST SECTION */

#logo{
	width: 50px;
	height: 50px;
	margin-left: 5px;
	transition: all 1s ease;
}

.flex {
  	display: flex;
 	flex-wrap: wrap;
}

.parallax {
	min-height: 1000px;
	background: transparent;
}


.zoompic {
	transition: transform 1s;
	
}

.zoompic:hover {
	transform: scale(1.05);
}

.meeds {
	transition: all 2s ease;
}

.meeds:hover {
	transform: scale(1.1);
	color: #ff7400 !important;
	text-decoration: underline #ff7400;
}

/* NAV BAR */

.sstest {
	font-size: 100px;
	float: right;
	color: lightgray;
	z-index: -1;
	position: relative;
	opacity: .4;
	/* text-transform: uppercase; */
	font-weight: 600;

}


a {
	color: #323232 !important;
}

.nav-link {
	font-size: 20px;
	margin: auto 75px auto 0;
	color: #323232;
}

.bg-dark {
	background-color: white !important;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: white;
  position: fixed;
  top: 72px;
  left: 0px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  	height: 8px;
  	background: #404040;
  	width: 0%;
}

/* HERO SECTION */

.name, .uxdesign, .herolightlogo {

	/* margin: auto; */
	/* animation: blurFadeInUnicorn 3s ease-in 20s backwards; */
	position: absolute;
	text-align: left;
}

.name {
	left: 50%;
    top: 35vh;
	animation-delay: 1s;
}

.uxdesign {
	left: 45vh;
	top: 60vh;
	animation-delay: 2s;
	font-size: 40px;
	font-weight: normal;
	text-transform: none;
}

/* ABOUT SECTION */



/* CONTACT SECTION */

.btn {
	margin: auto;
	/* margin-top: 50px; */
	width: 50%;
	border: solid #323232 1px;
	color: #323232;
	border-radius: 4px;
	text-transform: uppercase;
}

.socicon {
	margin: 50px auto;
}

/* Media Queries */

@media only screen and (max-width: 800px){

	.name, .uxdesign, .herolightlogo {
		left: 10%;
	}

	.herolightlogo {
		/* left: 20%; */
		width: 0;
		top: 36.5vh;
		animation-delay: 3s;
	}

	.form-group {
		width: 90% !important;
	}

	.phaseline {
		width: 90%;
	}

	.biobox {
		width: 100%;
	}
}
@media(min-width: 801px){

	.contact {
		color: #323232;
		padding: 0 10%;
		margin-bottom: 100px;
		text-align: left;
	}

	.herolightlogo {
	left: 33%;
	width: 155px;
	top: 36.5vh;
	/* animation-delay: 3s; */
}
}

/**************************************** KEYFRAMES *******************************************************************/

@keyframes blurFadeInUnicorn {
	0% {
		opacity: 0;;
	}
	50%, 100% {
		opacity: 100;
	}
}

@keyframes glowing {
	0% { box-shadow: 0 0 -10px #c4a300; }
	40% { box-shadow: 0 0 20px #c4a300; }
	60% { box-shadow: 0 0 20px #c4a300; }
	100% { box-shadow: 0 0 -10px #c4a300; }
  }

@-webkit-keyframes barGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes barGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes barGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}





.thankyou {
	background-color: white;
	padding-top: 100px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	margin-top: 10%;

}

.tybutton {
	width: 200px;
	margin-top: 30px;
}
	  
.form-group {
	width: 60%;
	margin: 20px auto;
}

.italic {
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
	line-height: 1.8em;
}

.res {
	margin-bottom: 0;
}

.resdesc {
	margin-top: 10px;
	margin-bottom: 50px;
}

.ressec {
	width: 100%;
}

.resumelist {
	width: 90%;
	margin-bottom: 30px;
}

.reshead {
	margin-bottom: 0px;
	text-align: left;
}

.casep {
	margin-bottom: 40px;
	text-align: left;
}

.resline {
	margin-left: 0;
	margin-bottom: 30px;
	width: 70%;
	height: 1px;
	background: #505050;

}

.reslineskill {
	margin-left: 0;
	margin-bottom: 30px;
	width: 100%;
	height: 1px;
	background: #505050;

}

.whitespace {
	width: 100%;
	height: 100vh;
}

.navbar-toggler-icon {
	color: black !important;
	/* background: black; */
}
/****************************************************** PARALLAX BACKGROUND *************************************************************/

.snow {
	position: absolute;
	width:100%;
	height: 100vh;
	background: url(parallaxBG/snow.png) no-repeat 50% 50%;
	background-size: cover;
}

.fog {
	position: absolute;
	width:100%;
	height: 100vh;
	background: url(parallaxBG/fog.png) no-repeat 50% 50%;
	background-size: cover;
	top: 10%;
}

#lighthero {
	width: 100%;
	height: 100vh;
	position: absolute;
	background: url(parallaxBG/japanlight.png) no-repeat 50% 50%;
	background-size: cover;
}

#darkbg {
	width: 100%;
	height: 100vh;
	position: absolute;
	background: url(parallaxBG/japandark.jpg) no-repeat 50% 50%;
	background-size: cover;
}

/***************************************************** FOOTER SECTION **************************************************************/

	#footlight {
		width: 100%;
		height: 100%;
		border-top: solid #505050 2px;

		/*** testing ****/
		border-top: solid orange 4px;
		background-color: black;
		color: white !important;
	}

	.hfooter {
		font-size: 16px;
		font-weight: 600;
		text-align: left;
	}

	.pfooter {
		font-size: 16px;
		text-align: left;
	}

	.submit {
		text-align: center;
		margin-top: 50px;
	}

/************************************************************** TESTING *****************************************************************/
/************************************************************** TESTING *****************************************************************/
/************************************************************** TESTING *****************************************************************/

#footlight {
	border-top: solid #ff7400 4px;
	background-color: black;
	color: white !important;
}

.pfooter {
	color: white !important;
}

.bg-dark {
	background-color: rgba(25, 25, 25, .9) !important;
}

/* The progress container (grey background) */
.progress-container {
	width: 100%;
	height: 8px;
	background-color: rgba(25, 25, 25, .9);
	position: fixed;
	top: 76px;
	left: 0px;
	border-style: none;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
		height: 8px;
		background: linear-gradient(270deg, #ff7400, #d61c0e);
		background-size: 400% 400%;
		width: 0%;
		-webkit-animation: barGradient 4s ease infinite !important;
		-moz-animation: barGradient 4s ease infinite !important;
		animation: barGradient 4s ease infinite !important;
  }

  a.nav-link {
	  color: white !important;
	  transition: all 1s ease;
	  
  }

  a.nav-link.active {
	/* font-weight: 700; */
	text-decoration: underline #ff7400;


  }

  a.nav-link:hover {
	  color: white !important;
  }

  .glo {
	animation: glowing 3000ms infinite;
  }



  .linear-wipe {
	background: linear-gradient(to right, #252525 20%, #d61c0e 30%, #252525 50%, #252525 80%);
	background-size: 200% auto;
	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	animation: shine 5s linear infinite;
  }

	@keyframes shine {
	  to {
		background-position: 200% center;
	  }
	}