/****************************************************** TAGS ***********************************************************/
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Raleway", sans-serif;
}

h1, h2 {
	text-align: center;
}

h1, h2, h3 {
	text-transform: uppercase;
}

h2, h3, h4, h5 {
	font-weight: 600;
}
h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 { 
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

p {
	font-size: 20px;
	margin-bottom:0;
	line-height: 1.8em;
}

a {
	text-decoration: none;
	color: #323232 !important;
}

ul {
	list-style-type: none;
	font-size: 20px;
	padding-inline-start: 0;
}

li {
	line-height: 1.8em;
}

/*********************************************************** NAV BAR **********************************************************************/

.nav-link {
	font-size: 20px;
	margin: auto 75px auto 0;
	color: #323232;
}

.bg-dark {
	background-color: white !important;
}

/********************************************************* PROGRESS BAR *******************************************************************/

.progress-container {
  width: 100%;
  height: 8px;
  background: white;
  position: fixed;
  top: 72px;
  left: 0px;
}

.progress-bar {
  	height: 8px;
  	background: #6cb019;
  	width: 0%;
}

/****************************************************** PARALLAX BACKGROUNDS *************************************************************/

.snow {
	position: absolute;
	width:100%;
	height: 100vh;
	background: url(parallaxBG/snow.png) no-repeat 50% 50%;
	background-size: cover;
}

.fog {
	position: absolute;
	width:100%;
	height: 100vh;
	background: url(parallaxBG/fog.png) no-repeat 50% 50%;
	background-size: cover;
	top: 10%;
}

.mikumohero {
	width: 100%;
	height: 100vh;
	position: absolute;
	background: url(parallaxBG/mikumohero.png) no-repeat 50% 50%;
	background-size: cover;
}

/************************************************************* HOVERS ************************************************************************/

a:hover,
#logo:hover,
.mikumobtn {
	transition: transform .5s;
	text-decoration: none;
}

.mikumobtn:hover {
	color: #fff;
	background: #6CB019;
	transform: scale(1.1);
}

a.nav-link:hover, #logo:hover,
.flag:hover, .techicon:hover {
	transform: scale(1.2);
}

a.nav-link:hover { 
	color: #323232 !important; 
	font-weight: 600;
}

/****************************************************** USED IN MOST SECTION *************************************************************/

#logo{
	width: 50px;
	height: 50px;
	margin-left: 5px;
}

.flex {
  	display: flex;
 	flex-wrap: wrap;
}

.whitespace {
	width: 100%;
	height: 90vh;
}

/* -------------------------------------------------------- MIKUMO CASE STUDY ------------------------------------------------------------- */

.mikumoherologo {
	animation: blurFadeInUnicorn 3s ease-in 20s backwards;
	position: absolute;
	margin: auto;
	left: 30%;
	width: 40%;
	top: 36.5vh;
	animation-delay: 0s;
}

.mikumosub {
	animation: blurFadeInUnicorn 3s ease-in 20s backwards;
	position: absolute;
	top: 50vh;
	animation-delay: .5s;
	font-size: 30px;
	padding: 5%;
	font-weight: 300;
	text-transform: none;
	color: white;
}

.mikumobtnproto {
	animation: blurFadeInUnicorn 3s ease-in 20s backwards;
	animation-delay: 1s;
	position: absolute;
	margin: auto;
	left: 41.5%;
	top: 80%;
	padding: 10px 40px;
	color: white !important;
	background-color: #6cb019;
	text-align: center !important;
	border-radius: 7px;
	text-transform: uppercase;
	border-style: none;
	font-size: 20px;
}

.mikumobtn {
	margin: auto; 
	padding: 10px 40px;
	font-size: 20px;
	color: white !important;
	background-color: #6cb019;
	border-radius: 7px;
	text-transform: uppercase;
}

.phaseline {
	margin: auto;
	width: 40%;
	height: 2px;
	background: #505050;
}

.subphase {
	text-align: center;
	margin: 80px auto auto auto;
}

.lightgraybg {
	background-color: #f8f8f8;
	width: 100%;
}

.brandspec {
	width: 60%;
	margin-left: 30px;
}

.flowspec {
	width: 80%;
}

.lihead {
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.marginbottom40 {
	margin-bottom: 40px;
}

.overviewdesc {
	margin-right: 20px;
	text-align: left;
}


.caseh3 {
	text-align: center;
	margin-top: 100px;
	font-weight: 300;
}

.caseh5 {
	margin-top: 20px;
}
.h3alt{
	text-transform: none;
	font-weight: 600;
	margin-bottom: 20px;
	margin-right: 20px; /*** needs fixing later ***/
}


.topic {
	margin-bottom: 20px;
}

.chart{
	width: 80%;
}

.surveys {
	margin-bottom: 60px;
}

/* NEEDS TO BE FIXED FOR SMALLER DEVICES */

.mikumodevice {
	width: 100%;
	margin-top: 40px;
}

.surveysec {
	width: 50%;
}

.surveylast {
	margin-bottom: 80px;
}

.caseh4 {
	text-align: center;
	margin-bottom: 20px;
}

.avatarpersona {
	width: 35%;
}

.compLogo {
	width: 25%;
	margin-bottom: 20px;
}

.centers {
	text-align: center;
}

.quote {
	font-size: 16px;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 20px;
}

.threeCol {
	padding-left: 20px;
	padding-right: 20px;
}

.persCompP {
	font-size: 16px;
	margin-bottom: 10px;
}

.boldy {
	font-weight: 600;
}

.personaInfo {
	margin-top: 20px;
}

.listleft {
	text-align: left;
}

.bottoms {
	margin-bottom: 80px;
}

.comp {
	text-align: left;
}

.wiresketch {
	width: 100%;
}

.testlist {
	margin: auto 5%;
}

.parspace {
	margin-bottom: 10px;
}

.brandsketch {
	width: 90%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .preft {
	 width: 90%;
 }

.socicon {
	margin: 50px auto;
}

/********************************************** HOME PAGE ONLY *************************************************************/

/****************************************************** FOOTER SECTION *************************************************************/

#footlight {
	width: 100%;
	height: 150px;
	border-top: solid #505050 2px;
}

.hfooter {
	font-size: 16px;
	font-weight: 600;
	text-align: left;
}

.pfooter {
	font-size: 16px;
	text-align: left;
}

/************************************************** Media Queries *********************************************************/

@media only screen and (max-width: 600px){
	.mikumobtnproto {
		left: 25%;
	}
}

@media only screen and (max-width: 989px){

	.name, .uxdesign, .herolightlogo {
		left: 10vh;
	}

	.prefBar {
		width: 100%;
	}

	.mikumoherologo {
		width: 60%;
		left: 20%;
	}

	.mikumosub {
		font-size: 25px !important;
	}
}

@media only screen and (min-width: 601px) and (max-width: 989px){
	.mikumobtnproto {
		left: 35%;
	}
}

@media(min-width: 990px){

	.story {
		padding-inline-start: 100px;
	}

	.prefBar {
		width: 80%;
	}
}

/******************************************************** KEYFRAMES ***************************************************************/

@keyframes blurFadeInUnicorn {
	0% {
		opacity: 0;;
	}
	50%, 100% {
		opacity: 100;
	}
}

/*************************************************************** Testing *********************************************************************/

.light-theme {
	background-color: #999;
	color: black;
  }
  .dark-theme {
	background-color: #333;
	color: white;
  }



			/* dark / light mode toggle */

			.switch {
				position: relative;
				display: inline-block;
				width: 60px;
				height: 34px;
				align-self: center;
				}
			.switch input {
				opacity: 0;
				width: 0;
				height: 0;
				}
			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				}
			.slider:before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				}
			input:checked + .slider {
				background-color: #2196f3;
				}
			input:checked + .slider:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
				}
				/* Rounded sliders */
			.slider {
				border-radius: 30px;
				}
			.slider:before {
				border-radius: 50%;
	}

	/*TOGGLE COLORS*/
	.dark {
			background: #545454;
			color: #efefef;
	}



	.lightlogo{
		background: url('ehlogo.png') no-repeat; 
		width: 200px;
		height: 150px;
		margin-left: 5px;
	}
	#logo.dark {
		background: url('darklogo.png') no-repeat; 
		width: 150px;
		height: 150px;
		margin-left: 5px;
		
	}